.main-page
  .main-page__header
    .main-page__header__left
      = render 'shared/main/header-logo'
    = render 'shared/main/header-btns'
  .main-page__body
    = render 'groups/new/body'
  = render 'shared/main/footer'
