.main-page {
  font-size: 0;
  &__body {
    width: 100vw;
    height: calc(100vh - 5.5rem + 2px);
    @include clearfix();
    font-size: 0;
    overflow: scroll;
  }
  &__header {
    height: 4.0rem;
    width: 100vw;
    @include clearfix();
    background: $gray;
    font-size: 0;
  }
  &__footer {
    position: relative;
    bottom: 0;
    height: 1.5rem;
    width: 100vW;
    @include clearfix();
    background: $gray;
    font-size: 0;
  }
}